
.vs/ArmouryUCP/v16/Server/sqlite3/db.lock
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
