
.vs/ArmouryUCP/v16/Server/sqlite3/db.lock
ArmouryUCP.WebAPI/bin/
ArmouryUCP.WebAPI/obj/
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
.vs/ArmouryUCP/v15/.suo
.vs/ArmouryUCP/v15/Server/sqlite3/storage.ide-wal
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll.config
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/AutoMapper.dll
ArmouryUCP.WebAPI/bin/AutoMapper.pdb
ArmouryUCP.WebAPI/bin/AutoMapper.xml
ArmouryUCP.WebAPI/bin/DSharpPlus.dll
ArmouryUCP.WebAPI/bin/DSharpPlus.xml
ArmouryUCP.WebAPI/bin/Google.Protobuf.dll
ArmouryUCP.WebAPI/bin/Google.Protobuf.xml
ArmouryUCP.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
ArmouryUCP.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
ArmouryUCP.WebAPI/bin/MySql.Data.dll
ArmouryUCP.WebAPI/bin/MySql.Data.xml
ArmouryUCP.WebAPI/bin/Newtonsoft.Json.dll
ArmouryUCP.WebAPI/bin/Newtonsoft.Json.xml
ArmouryUCP.WebAPI/bin/roslyn/csc.exe
ArmouryUCP.WebAPI/bin/roslyn/csc.exe.config
ArmouryUCP.WebAPI/bin/roslyn/csc.rsp
ArmouryUCP.WebAPI/bin/roslyn/csi.exe
ArmouryUCP.WebAPI/bin/roslyn/csi.exe.config
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
ArmouryUCP.WebAPI/bin/roslyn/csi.rsp
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.dll
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.CSharp.Core.targets
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.Managed.Core.targets
ArmouryUCP.WebAPI/bin/roslyn/Microsoft.VisualBasic.Core.targets
ArmouryUCP.WebAPI/bin/roslyn/System.AppContext.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Collections.Immutable.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Console.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Diagnostics.StackTrace.dll
ArmouryUCP.WebAPI/bin/roslyn/System.IO.Compression.dll
ArmouryUCP.WebAPI/bin/roslyn/System.IO.FileSystem.dll
ArmouryUCP.WebAPI/bin/roslyn/System.IO.FileSystem.Primitives.dll
ArmouryUCP.WebAPI/bin/roslyn/System.IO.Pipes.AccessControl.dll
ArmouryUCP.WebAPI/bin/roslyn/System.IO.Pipes.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Reflection.Metadata.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Security.AccessControl.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Security.Claims.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Security.Cryptography.Algorithms.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Security.Cryptography.Encoding.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Security.Cryptography.Primitives.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Security.Principal.Windows.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Text.Encoding.CodePages.dll
ArmouryUCP.WebAPI/bin/roslyn/System.ValueTuple.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Xml.ReaderWriter.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Xml.XmlDocument.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Xml.XPath.dll
ArmouryUCP.WebAPI/bin/roslyn/System.Xml.XPath.XDocument.dll
ArmouryUCP.WebAPI/bin/roslyn/vbc.exe
ArmouryUCP.WebAPI/bin/roslyn/vbc.exe.config
ArmouryUCP.WebAPI/bin/roslyn/vbc.rsp
ArmouryUCP.WebAPI/bin/roslyn/VBCSCompiler.exe
ArmouryUCP.WebAPI/bin/roslyn/VBCSCompiler.exe.config
ArmouryUCP.WebAPI/bin/System.Net.Http.Formatting.dll
ArmouryUCP.WebAPI/bin/System.Net.Http.Formatting.xml
ArmouryUCP.WebAPI/bin/System.Runtime.CompilerServices.Unsafe.dll
ArmouryUCP.WebAPI/bin/System.Runtime.CompilerServices.Unsafe.xml
ArmouryUCP.WebAPI/bin/System.ValueTuple.dll
ArmouryUCP.WebAPI/bin/System.ValueTuple.xml
ArmouryUCP.WebAPI/bin/System.Web.Cors.dll
ArmouryUCP.WebAPI/bin/System.Web.Http.Cors.dll
ArmouryUCP.WebAPI/bin/System.Web.Http.dll
ArmouryUCP.WebAPI/bin/System.Web.Http.Cors.xml
ArmouryUCP.WebAPI/bin/System.Web.Http.WebHost.dll
ArmouryUCP.WebAPI/bin/System.Web.Http.WebHost.xml
ArmouryUCP.WebAPI/bin/System.Web.Http.xml
ArmouryUCP.WebAPI/bin/Unity.Abstractions.dll
ArmouryUCP.WebAPI/bin/Unity.Abstractions.pdb
ArmouryUCP.WebAPI/bin/Unity.Container.dll
ArmouryUCP.WebAPI/bin/Unity.Container.pdb
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CopyComplete
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csprojAssemblyReference.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ArmouryUCP.WebAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ArmouryUCP.WebAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.FileListAbsolute.txt
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
.vs/ArmouryUCP/v15/.suo
.vs/ArmouryUCP/v15/Server/sqlite3/storage.ide-wal
.vs/ArmouryUCP/v15/Server/sqlite3/storage.ide-wal
.vs/ArmouryUCP/v15/Server/sqlite3/storage.ide
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/bin/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
.vs/ArmouryUCP/v16/Server/sqlite3/storage.ide
.vs/ArmouryUCP/v16/Server/sqlite3/storage.ide-shm
.vs/ArmouryUCP/v16/Server/sqlite3/storage.ide-wal
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csproj.CoreCompileInputs.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.csprojAssemblyReference.cache
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.dll
ArmouryUCP.WebAPI/obj/Debug/ArmouryUCP.WebAPI.pdb
.vs/ArmouryUCP/v16/.suo
