/* General CSS*/
    body {
        background: radial-gradient(#00001e, #000013);
    }

    ul {
        list-style: none;
        margin: 0; padding: 0;
    }

    a {
        color: initial;
        text-decoration: none;
    }

    a:hover, a:focus, a:active {
        color: initial;
        text-decoration: none;
    }

    .armoury-finetitle {
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
    }

    .armoury-finetitle > a {
        color: #fff;
    }

    .navbar {
        background: #000014 !important; /* blue-dark-low */
        color: #fff !important;
        border-bottom: 2px solid #0b0b1b;
        padding: 0;
    }

    .navbar .armoury-menu {
        background: #000;
        border-right: 2px solid #0b0b1b;
        text-align: center;
        padding: 1.5em 0;
    }

    .navbar .armoury-logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-decoration: none;
        color: #fff;
        transition: opacity 0.25s;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
    }

    .navbar .armoury-logo:hover {
        opacity: 0.85;
    }

    .navbar .armoury-logo {
        float: left;
    }

    .navbar .armoury-logo h4 {
        display: inline-block;
        margin: 0; padding: 0;
        float: left;
        word-break: break-all;
        font-size: 1.1em;
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        letter-spacing: -1px;
        text-transform: uppercase;
    }

    .navbar .armoury-logo h4 > span.slogan {
        display: block;
        font-size: 0.5em;
        font-weight: 700;
        text-transform: none;
        text-align: justify;
        letter-spacing: 0.27em;
    }

    .navbar .armoury-logo h4 > span.domain {
        font-size: 0.6em;
        color: #bd213f;
    }

    #sidebar-mini {
        background: #00000d; /* blue-dark-high */
        padding: 0;
        border-right: 2px solid #0b0b1b;
        text-align: center;
    }

    #sidebar-mini > ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    #sidebar-mini > ul li > a {
        position: relative;
        width: 100%;
        display: inline-block;
        padding: 1em 0 1em 0;
    }

    #sidebar-mini > ul li > a:hover::after {
        opacity: 1;
    }

    #sidebar-mini > ul li > a::after {
        content: ' ';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background: #bd213f; /* link-red-active */
        transition: opacity 0.25s;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
    }

    #sidebar-mini > ul li > a > i {
        background: #fff;
        background: -webkit-linear-gradient(#545699, #34366d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        width: 100%;
        position: absolute;
        left: 0;
        top: 25%;
    }

    #sidebar-mini > ul li > a > i + i {
        background: -webkit-linear-gradient(#b33e40, #9d3032);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        opacity: 0;
        transition: opacity 0.25s;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
    }

    #sidebar-mini > ul li > a:hover > i + i {
        opacity: 1;
        cursor: pointer;
    }

    #sidebar-extra {
        background: #000012; /* blue-dark-medium */
        border-right: 2px solid #0b0b1b;
        padding: 0;
        letter-spacing: -1px;

        font-family: Montserrat, sans-serif;
    }

    #sidebar-extra a.nav-link {
        color: #485767;
        font-weight: 800;

        transition: color 0.25s;
        -webkit-transition: color 0.25s;
        -moz-transition: color 0.25s;

        font-size: 0.85em;
        position: relative;

        padding: 1.1em 2em;
        margin-left: -2px;
    }

    #sidebar-extra a.nav-link:hover {
        color: #fff;
    }

    #sidebar-extra a.nav-link::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-left: 4px solid #bd213f; /* link-red-active */
        background: rgba(255, 255, 255, 0.05);
        opacity: 0;

        transition: opacity 0.25s;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
    }

    #sidebar-extra a.nav-link:hover::before {
        opacity: 1;
    }

    /* Content CSS */
    main {
        padding: 0 !important;
        margin: 0;
    }
    main ol.breadcrumb {
        background: none;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 0.7em;
        padding: 0;
    }

    main ol.breadcrumb .breadcrumb-item a {
        color: #485767;
        text-decoration: none;

        transition: color 0.25s;
        -webkit-transition: color 0.25s;
        -moz-transition: color 0.25s;
    }

    main ol.breadcrumb .breadcrumb-item a:hover {
        color: #fff;
    }

    main ol.breadcrumb .breadcrumb-item.active {
        color: #fff !important;
    }

.profile-header {
    padding: 1.5em 2em 0.5em 2em;
    font-family: Montserrat, sans-serif;
    border-bottom: 2px solid #0f0f27;
}

.profile-header .col-md-3 > img {
    position: absolute;
    bottom: -0.45em;
    width: 170px;
    left: 0;
}

    .avatar-wrapper::before {
        content: ' ';
        position: absolute;
        width: 101%;
        height: 101%;
        top: -0.5%;
        left: -0.5%;
        border: 2px solid #1a1a30;
        z-index: 1;
        border-radius: 50%;
    }

    h3.large {
        font-weight: 800;
        color: #fff;
        margin: 0;
    }

    h3.large i.premium-user {
        background: #fff;
        background: -webkit-linear-gradient(#a02223, #901f21);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 0.5em;
        font-size: 0.65em;
        vertical-align: middle;
    }

    h3.large .badge {
        font-size: 0.25em;
        vertical-align: middle;
        margin-left: 0.75em;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.75em 1.75em 0.75em 1.75em;
        opacity: 0.8;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

    h3.large .badge:hover {
        cursor: pointer;
        opacity: 1;
    }

    h3.large .badge.armoury-green {
        background: #041f1f;
        color: #3cbd4e;
        -moz-box-shadow: inset 0 0 10px rgba(60, 189, 78, 0.1);
        -webkit-box-shadow: inset 0 0 10px rgba(60, 189, 78, 0.1);
        box-shadow: inset 0 0 10px rgba(60, 189, 78, 0.1);
    }

    h3.large .badge.armoury-yellow {
        background: #5d5d11;
        color: #f9f600;
        -moz-box-shadow: inset 0 0 10px rgba(234, 233, 43, 0.1);
        -webkit-box-shadow: inset 0 0 10px rgba(234, 233, 43, 0.1);
        box-shadow: inset 0 0 10px rgba(234, 233, 43, 0.1);
    }

    h3.large + .small-details {
        margin-top: -0.3em;
    }

    h3.large + .small-details span {
        font-size: 0.6em;
        text-transform: uppercase;
        color: #485767;
        font-weight: 600;
    }

.avatar-level {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
    z-index: 2;
}

    .avatar-level span {
        position: absolute;
        display: inline-block;
        bottom: -15%;
        left: 30%;
        margin-left: -100px;
        border-radius: 50%;
        width: 30%;
        height: 30%;
        padding: 0;
        margin: 0;
        font-size: 0.1em;
        line-height: 3em;
        text-align: center;
        font-weight: 800;
        color: #fff;
        border: 6px solid #000019;
        background: linear-gradient(to right, #ad2526, #821e20);
    }

.profile-underheader {
    background: #000019;
    border-bottom: 2px solid #0f0f27;
    font-family: Montserrat, sans-serif;
    padding: 1em 0;
}

.profile-underheader.general {
    padding: 1em 2em;
}

.profile-underheader .badge {
    position: relative;
    background: #000015;
    border-radius: 7px;
    border: 1px solid #14142c;
    vertical-align: middle;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 1em 1.2em;
    padding-left: 4em;
    margin-right: 1em;
    font-size: 0.65em;
}

.profile-underheader .badge > i {
    background: #fff;
    background: -webkit-linear-gradient(#545699, #34366d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    margin-top: -1px;
    position: absolute;
    left: 1em;
    line-height: 100%;
    text-align: left;
    font-size: 1.25em;
    vertical-align: middle;
}

.profile-underheader .players-online {
    color: #fff;
    font-size: 0.65em;
    font-weight: 800;
    margin-top: -5px;
    text-align: right;
    display: inline-block;
    float: left;
}

.profile-underheader .players-online > span {
    font-size: 1.75em;
    color: #cd2342;
}

.profile-underheader .col-md-4 .avatar-holder {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    border: 3px solid #0f0f24;
    margin-top: -5px;
    margin-left: -1em;
}

.profile-underheader .col-md-4 .avatar-holder.first {
    margin-left: 0.4em;
}

.profile-underheader .col-md-4 .avatar-holder.last {
    border: 0;
    background-image: linear-gradient(#7d1b1f, #cd2342);
}

.profile-underheader .col-md-4 .avatar-holder.last > span {
    line-height: 40px;
    color: #fff;
    font-size: 0.7em;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.profile-underheader .col-md-4 .avatar-holder > img {
    margin-left: -26%;
    margin-top: -15%;
}

#page {
    padding: 0 1em;
}

.page-secondaryboard .content {
    border: 2px solid #14142a;
    border-radius: 4px;
    background: #05051e;
}

.page-secondaryboard .title {
    color: #fff;
    font-size: 0.8em;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    border-bottom: 2px solid #14142a;
    padding: 1.5em 2em;
}

.page-secondaryboard .page-body {
    padding: 1em 1.7em;
    font-family: Montserrat, sans-serif;
}

.page-body.profile-stats ul, .owner-info > ul {
    list-style: none;
    padding: 0; margin: 0;
}

.page-body.profile-stats ul > li, .owner-info > ul li {
    font-size: 0.65em;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    padding: 0.85em 1em;
    color: #a5b2df;
}

.page-body.profile-stats ul > li > span, .owner-info > ul > li > span {
    color: #fff;
    float: right;
}

.page-body.profile-stats ul li:nth-child(2n+1), .owner-info ul li:nth-child(2n+1) {
    background: #0d0d25;
}

.graph-holder.connected-hours {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #4f5191;
    background: radial-gradient(circle at top, rgba(42, 109, 200, 0.15) 0%, #010118 50%);
    background-repeat: no-repeat;
}

.graph-holder.wrapper {
    position: relative;
    width: 100%;
}

.graph-holder.wrapper::after, .graph-holder.wrapper::before {
    content: 'Playing Hours';
    color: #fff;
    position: absolute;
    width: 30%;
    top: -1.15em;
    left: 35%;
    background: #000019;
    text-align: center;
    border-radius: 30px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 800;
    z-index: 999;
    border: 1px solid #4f5191;
    padding: 0.35em 0;
}

.graph-holder.wrapper::before {
    z-index: 998;
    border: 2px solid #4f5191;
    top: -1.209em;
}

.graph-holder ol.legend {
    list-style: none;
    padding: 0; margin: 0;
    position: relative;
    background: rgba(255, 255, 255, 0.07);
    padding: 0.4em 0;
    border-radius: 7px;
    z-index: 3;
    margin: 0 2em 0 2em;
}

.graph-holder ol.legend::after {
    content: ' ';
    clear: both;
    display: block;
}

.graph-holder ol.legend li {
    width: 33%;
    float: left;
    color: #d5d5d8;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 0.6em;
    text-align: center;
    position: relative;
    padding-left: 1.5em;
}

.graph-holder ol.legend li::after {
    content: ' ';
    position: absolute;
    left: 1.5em; top: 15%;
    border-radius: 50%;
    width: 1.1em;
    height: 1.1em;
}

.graph-holder ol.legend li.gray::after {
    background: #1d1e46;
}

.graph-holder ol.legend li.green::after {
    background: #5daa25;
}

.graph-holder ol.legend li.cyan::after {
    background: #2a6dc8;
}

.profile-info {
    color: #a8accb;
    font-size: 0.65em;
    font-weight: 600;
}

.profile-info table {
    width: 100%;
}

.profile-info tr {
    background: #01011a;
    border-radius: 8px;
    border: 2px solid #0f0f27;
}

.profile-info tr.spacer {
    background: none;
    border: none;
}

.profile-info tr td:first-child {
    padding: 2em 1.5em 2em 2.25em;
}

.profile-info tr td:first-child img {
    border-radius: 4px;
    border: 4px solid #0f0f27;
}

.profile-info tr.spacer td {
    padding-bottom: 0;
}

.profile-info span.top-info {
    color: #2766bc;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 700;
}

.profile-info span.middle-info {
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    font-weight: 800;
}

.profile-info span.bottom-info {
    opacity: 0.6;
    font-size: 0.85em;
}

.profile-info span.top-info i {
    margin-right: 0.5em;
}

.profile-info tr td a {
    color: #2a6dc8;
    text-transform: uppercase;
    padding-right: 2em;

    text-align: right;
    width: 100%;
    display: inline-block;

    transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
}

.profile-info tr td a:hover {
    color: #578fdb;
}

/* Header Tabs */

.tabbed-content {
    padding: 0.75em 1.6em 1.1em 1.6em;
    border-bottom: 2px solid #14142a;
}

.tabbed-content > h4 {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    display: inline-block;
}

.header-tabs {
    font-size: 0.55em;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    display: inline-block;
    float: right;
    line-height: 3.5em;
    background: #000015;
    border-radius: 5px;
    border: 2px solid #0f0f27;
    padding-left: 1em;
    margin-top: -0.25em;
}

.header-tabs a {
    text-decoration: none;
    color: #d7d7d7;
    margin-right: 1.25em;
    padding: 0.45em 1.75em 0.45em 1.75em;
    border-radius: 4px;
    position: relative;
    z-index: 2;
}

.header-tabs a:last-child {
    margin-right: 1em;
}

.header-tabs a:active, .header-tabs a:hover, .header-tabs a:focus {
    text-decoration: none;
}

.header-tabs a::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(#9a1f21, #b42b2d);
    transition: opacity 0.4s ease-out;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    border-radius: 7px;
}

.header-tabs a:hover::before, .header-tabs a.selected::before {
    color: #fff;
    opacity: 1;
}

.skill {
    display: inline-block;
}

.hexagon {
    width: 60px;
    height: 60px;
    transform: rotate(90deg);
    line-height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.7em;
}

.hexagon::before {
    content: ' ';
    position: absolute;
    width: 87%; height: 87%; top: 6%; left: 6.5%;
    background: url('../Images/hexagon_black.svg') no-repeat center;
    background-size: cover;
}

.hexagon i {
    transform: rotate(90deg);
    z-index: 100;
    position: relative;
    color: #fff;
}

.hexagon > .hexagon-inner {
    position: absolute;
    top: 15px;
    left: 13.5px;
    width: 34px;
    height: 34px;
    background: url("../Images/hexagon_darker.svg") no-repeat center;
    background-size: cover;
    transform: rotate(180deg);
    line-height: 36px;
    text-align: center;
}

.hexagon span.skill-level {
    position: absolute;
    font-size: 1.3em;
    font-weight: 800;
    left: 60%;
    bottom: 55%;
    transform: rotate(-90deg);
    background: #05051e;
    display: inline-block;
    line-height: 1.6em;
    padding-left: 0.45em;
    padding-right: 0.45em;
    border-radius: 50%;
}

ul#skills li {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-bottom: 2em;
}

ul.faction-history {
    width: 100%;
}

ul.list-normal li {
    color: #a8accb;
    font-size: 0.65em;
    font-weight: 600;
    background: #01011a;
    border: 2px solid #13142e;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 1.5em;
}

ul.list-normal li a {
    color: #aa2526;
}

ul.list-normal td {
    position: relative;
}

ul.list-normal td.time {
    color: #2a6dc8;
    font-size: 0.8em;
}

ul.list-normal td.time::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f017";
}

.list-normal .avatar-holder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #161631;
    overflow: hidden;
    margin-right: 1em;
}

.list-normal .avatar-holder img {
    width: 100%;
    height: auto;
}

.hexagon-big {
    width: 101.25px;
    height: 101.25px;
    transform: rotate(90deg);
    line-height: 101.25px;
    text-align: center;
    margin-bottom: 0.7em;
}

.hexagon-big::before {
    content: ' ';
    position: absolute;
    width: 87%;
    height: 87%;
    top: 7%;
    left: 6.9%;
    background: url('../Images/hexagon_black.svg') no-repeat center;
    background-size: cover;
}

.hexagon-big > .hexagon-inner {
    position: absolute;
    top: 22.5px;
    left: 18.56px;
    width: 64.68px;
    height: 64.68px;
    background: url("../Images/hexagon_darker.svg") no-repeat center;
    background-size: cover;
    transform: rotate(180deg);
    line-height: 36px;
    text-align: center;
}

.hexagon-big .weapon {
    transform: rotate(90deg);
}

.hexagon-big .weapon span {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 5px;
    color: #b3b8d8;
    font-weight: 600;
    font-size: 0.4em;
}

.hexagon-big img {
    margin-top: 25% !important;
    width: 65%;
    height: auto;
}

.combat-info table table {
    font-size: 0.6em;
}

.combat-info table table td {
    padding: 0.5em;
}

.combat-info table table tr:first-child i {
    font-size: 0.75em;
    margin-right: 0.5em;
}

.combat-info table table tr:nth-child(2n) td {
    background: #0f0f27;
}

.combat-info table table tr.item td:last-child {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.combat-info table table tr.item td:first-child {
    color: #becdff;
    font-weight: 600;
}

.combat-info table table tr:first-child {
    color: #20539d !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.95em;
}

.combat-info table table tr:first-child td {
    padding: 0 0 1em 0 !important;
}

.combat-info .page-body {
    padding-left: 1em;
    padding-right: 1.25em;
}

.combat-info table {
    width: 100%;
}

.accuracy {
    width: 20px;
    height: 20px;
    border-top: 1.2px solid #343456;
    position: absolute;
    top: 50%;
    left: 50%;
}

.accuracy.head {
    margin-top: -41px;
    margin-left: 17px;
}

.accuracy.rightarm {
    margin-top: -19px;
    margin-left: 31px;
}

.accuracy.rightleg {
    margin-top: 44px;
    margin-left: 23px;
}

.accuracy.leftarm {
    margin-left: -52px;
    margin-top: -9px;
}

.accuracy.leftleg {
    margin-left: -47px;
    margin-top: 33px;
}

.accuracy.torso {
    margin-left: -39px;
    margin-top: -33px;
}

.accuracy.groin {
    margin-left: 18px;
    margin-top: 25px;
    width: 29px;
}

.accuracy::after {
    content: ' ';
    position: absolute;
}

.accuracy.head::after, .accuracy.rightleg::after, .accuracy.rightarm::after {
    top: 3px;
    left: -7px;
    border-left: 1.2px solid #343456;
    width: 16px;
    height: 14px;
    transform: rotate(45deg);
}

.accuracy.leftarm::after, .accuracy.leftleg::after, .accuracy.torso::after {
    top: -8px;
    right: -17px;
    border-left: 1.2px solid #343456;
    width: 16px;
    height: 14px;
    transform: rotate(-45deg);
}

.accuracy.groin::after {
    top: -18px;
    right: 21px;
    border-left: 1.2px solid #343456;
    width: 16px;
    height: 14px;
    transform: rotate(-45deg);
}

.accuracy > span {
    position: absolute;
    top: -14px;
    left: 1px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.55em;
    color: #fff;
    font-weight: 800;
}

.big-square-ad {
    height: 250px;
    padding: 0 16px 0 0;
    border-radius: 4px;
    color: #fff;
    font-family: Montserrat, sans-serif;
}

.big-square-ad.growth {
    background-image: linear-gradient(to right, #2b2e86, #46488f);
}

.big-square-ad.earner, .big-square-ad.bestjob {
    background-image: linear-gradient(to right, #020228, #000017);
}

.big-square-ad::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 110%;
    bottom: 0; left: -15px;
}

.big-square-ad.growth::before {
    background: url('../Images/etc/2.png') no-repeat right;
    background-size: auto 100%;
}

.big-square-ad.earner::before {
    background: url('../Images/etc/3.png') no-repeat right;
    background-size: auto 100%;
}

.big-square-ad.bestjob::before {
    background: url('../Images/etc/4.png') no-repeat right;
    background-size: auto 100%;
}

.big-square-ad > .head {
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    padding: 0.8em 2em;
}

.big-square-ad > .head > h5 {
    font-weight: 800;
    margin-bottom: 0;
    padding-bottom: 0.15em;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.21);
}

.big-square-ad > .head > h5 > a {
    color: #fff;
}

.big-square-ad > .head > span {
    font-size: 0.6em;
    line-height: 1.3em;
    display: inline-block;
    width: 60%;
    font-weight: 800;
}

.big-square-ad > .foot {
    position: absolute;
    content: ' ';
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.3em 2em;
}

.big-square-ad > .foot > h4 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.21);
    width: 70%;
}
/* 404 Error Page */
.error.casing {
    padding: 1.15em 0em 0em 2.5em;
}
.error.heading {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 5em;
    color: white;
    width: 70%;
    padding:0;
    display: inline;
    margin: 0;
    text-shadow: 0.5px 0.75px 2px #00001a;
    font-family: Montseratt,sans-serif;
}
.error.heading + i {
    vertical-align: top;
    padding-top: 0.9em;
    color: #bd213f;
}
.error.heading + i + br + span {
    color: #a8accb;
}

/* Loading Splash */
.loadingsplash {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#00001e, #000013);
    z-index: 1000;
    transition: all linear 0.5s;
}

.loadingsplash.separate {
    background: #01011a;
    height: 96%;
    padding: 0 2em;
}

.loadingsplash.ng-hide {
    opacity: 0;
}

.loadingsplash.ng-hide-add,
.loadingsplash.ng-hide-remove {
    transition: all linear 0.5s;
}


.loader {
    --path: #d7d7d7;
    --dot: #bd213f;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
}

    .loader:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        display: block;
        background: var(--dot);
        top: 37px;
        left: 19px;
        transform: translate(-18px, -18px);
        animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loader svg {
        display: block;
        width: 100%;
        height: 100%;
    }

        .loader svg rect,
        .loader svg polygon,
        .loader svg circle {
            fill: none;
            stroke: var(--path);
            stroke-width: 10px;
            stroke-linejoin: round;
            stroke-linecap: round;
        }

        .loader svg polygon {
            stroke-dasharray: 145 76 145 76;
            stroke-dashoffset: 0;
            animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

        .loader svg rect {
            stroke-dasharray: 192 64 192 64;
            stroke-dashoffset: 0;
            animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

        .loader svg circle {
            stroke-dasharray: 150 50 150 50;
            stroke-dashoffset: 75;
            animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

    .loader.triangle {
        width: 48px;
    }

        .loader.triangle:before {
            left: 21px;
            transform: translate(-10px, -18px);
            animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }

    66% {
        stroke-dashoffset: 147;
    }

    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        transform: translate(0, 0);
    }

    66% {
        transform: translate(10px, -18px);
    }

    100% {
        transform: translate(-10px, -18px);
    }
}

@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }

    50% {
        stroke-dashoffset: 128;
    }

    75% {
        stroke-dashoffset: 192;
    }

    100% {
        stroke-dashoffset: 256;
    }
}

@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(18px, -18px);
    }

    75% {
        transform: translate(0, -36px);
    }

    100% {
        transform: translate(-18px, -18px);
    }
}

@keyframes pathCircle {
    25% {
        stroke-dashoffset: 125;
    }

    50% {
        stroke-dashoffset: 175;
    }

    75% {
        stroke-dashoffset: 225;
    }

    100% {
        stroke-dashoffset: 275;
    }
}

.loader {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -30px;
}

html {
    -webkit-font-smoothing: antialiased;
}

/* Houses Page */
.pagination a.page-link {
    background: #000015;
    border: 2px solid #0f0f27;
    border-right: 0;

    transition: color 0.25s;
}

.pagination li:last-child a.page-link {
    border-right: 2px solid #0f0f27;
}

.pagination a.page-link:hover {
    border-right: 0;
}

.pagination a.page-link:focus, .pagination a.page-link:active {
    color: inherit;
}

.pagination .page-item.active .page-link {
    background: initial;
    border-color: #0f0f27;
}

/* Single House Page */
.profile-info .house-image {
    padding: 0;
}

.owner-info {
    padding: 0 1.5em;
    text-align: center;
}

.owner-info > ul li {
    text-align: left;
}

.owner-info .avatar-holder {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #14142a;
}
