<div class="loadingsplash" ng-hide="businessInfos !== undefined"><div class="loader triangle" style="top: {{loadingIconHeightOffset/2}}px; margin-top: -80px;"><svg viewBox="0 0 86 80"><polygon points="43 8 79 72 7 72"></polygon></svg></div></div>
<div class="col-md-12 profile-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Panel</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/#!/businesses/">Businesses</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{businessInfos.NameNice}} (ID: {{businessInfos.Id}})</li>
                    </ol>
                </nav>
                <h3 class="large">Business: "{{businessInfos.Name}}"</h3>
                <div class="small-details">
                    <span ng-if="ownerInfos != undefined">This business has been owned by {{businessInfos.Owner}} for {{getDifferenceInDays(businessInfos.DateOfPurchase)}} days.</span>
                    <span ng-if="ownerInfos == undefined">This business is for sale!</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-underheader general">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="badge badge-secondary armoury-green"><i class="fas fa-briefcase"></i>Level {{businessInfos.Level}} Business</span>
                <span class="badge badge-secondary armoury-green"><i class="fas fa-comment-dollar"></i>${{ businessInfos.Value | number : fractionSize }} Original Value</span>
                <span class="badge badge-secondary armoury-green"><i class="fas fa-arrow-up"></i>{{ businessInfos.ComercialAd + "%"}} Commercial Excess</span>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="container-fluid" id="page" style="padding: 0 3em 0 3em;">
    <div class="row">
        <div class="page-secondaryboard col-md-7">
            <div class="content">
                <h4 class="title" id="pagetitle">Business Preview</h4>
                <br />
                <div class="profile-info" style="padding: 0 2em; position: relative;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 business-image">
                                <img style="width: 100%; height: auto;" ng-src="UI/Images/businesses/{{businessInfos.Type}}.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row page-body profile-stats" style="margin: 0;">
                    <div class="col-md-6" style="padding-left: 0;">
                        <ul>
                            <li>Name<span>{{ businessInfos.Name }}</span></li>
                            <li>Owner<span>{{ businessInfos.Owner }}</span></li>
                            <li>Level<span>{{ businessInfos.Level }}</span></li>
                            <li>Original Value<span>${{ businessInfos.Value | number : fractionSize }}</span></li>
                        </ul>
                    </div>
                    <div class="col-md-6" style="padding-right: 0;">
                        <ul>
                            <li>Date of Purchase<span>{{ businessInfos.DateOfPurchaseNice }}</span></li>
                            <li>Extortion<span>{{ businessInfos.Extortion == "Nimeni" ? "None" : businessInfos.Extortion}}</span></li>
                            <li>Products<span>{{ businessInfos.Prods }}</span></li>
                            <li>Commercial Excess<span>{{ businessInfos.ComercialAd + "%"}}</span></li>

                        </ul>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="page-secondaryboard col-md-4">
            <div class="content">
                <h4 class="title">Business Owner</h4>
                <div class="owner-info">
                    <br ng-if-start="ownerInfos != undefined" />
                    <div ng-if-end class="avatar-holder">
                        <img ng-src="UI/Images/skins/small-thumbnail/{{('000'+ownerInfos.Model).slice(-3)}}.png" />
                    </div>
                    <br />
                    <h5 class="armoury-finetitle"><a href="{{'/#!/player/' + ownerInfos.ID}}">{{ownerInfos != undefined ? ownerInfos.Name : "Unbought"}}</a></h5>
                    <br />
                    <ul>
                        <li ng-if-start="ownerInfos != undefined">Level<span>{{ownerInfos.Level}}</span></li>
                        <li>Money<span>${{ownerInfos.Cash+ownerInfos.Bank | number:fractionSize}}</span></li>
                        <li ng-if-end>Faction<span>{{ownerInfos.Faction}}</span></li>
                    </ul>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>
<br /><br />
