<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Armoury.ro SA:MP RPG Server - User Control Panel</title>
    <script src="UI/Resources/angular.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-route.min.js"></script>
    <script src="UI/Resources/app.js"></script>
    <link href="UI/Resources/bootstrap.min.css" rel="stylesheet" />
    <link href="UI/Stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="UI/Stylesheets/progresscircles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Day');
            data.addColumn('number', '');
            data.addColumn('number', '');
            data.addColumn('number', '');

            data.addRows([
                [0, 37.8, 30.8, 41.8],
                [1, 30.9, 29.5, 32.4],
                [2, 25.4, 17, 25.7],
                [3, 11.7, 18.8, 10.5],
                [4, 11.9, 17.6, 10.4],
                [5, 8.8, 13.6, 7.7],
                [6, 7.6, 12.3, 9.6]
            ]);

            var options = {
                legend: 'none',
                backgroundColor: { fill: 'transparent' },
                colors: ['#20539f', '#5daa25', '#38396e', '#5daa25'],
                axes: {
                    x: {
                        0: { side: 'bottom' }
                    }
                }
            };

            var chart = new google.charts.Line(document.getElementById('line_top_x'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
    <div ng-app="armouryPanel" ng-controller="mainController">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12">
                    <div class="col-md-3" style="padding: 0">
                        <div class="row" style="margin: 0">
                            <div class="col-md-2 armoury-menu">
                                <font color="#1f2830"><i class="fas fa-bars fa-lg"></i></font>
                            </div>
                            <a class="col-md-10 armoury-logo" href="http://panel.armoury.ro">
                                <img src="UI/Images/extra-nav/logo-small.png" />
                                <h4>
                                    Armoury<span class="domain">.ro</span>
                                    <span class="slogan">Forge your legacy</span>
                                </h4>
                            </a>
                        </div>
                    </div>
                </nav>
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky" style="height: 100%">
                        <div class="row" style="height: 100%">
                            <nav id="sidebar-mini" class="col-md-3" ng-controller="mainNavController as mainItems" align="center">
                                <br />
                                <img src="UI/Images/avatar.png" style="width:85%; height: auto; margin-left: auto; margin-right: auto;" /><br /><br />
                                <ul>
                                    <li ng-repeat="item in mainItems.items" style="font-size: 1.33em">
                                        <a href="{{ item.link }}">
                                            <i class="fas fa-{{ item.faItem }}"></i>
                                            <i class="fas fa-{{ item.faItem }}"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div id="sidebar-extra" class="col-md-9">
                                <br />
                                <ul ng-controller="secondaryNavController as secondaryItems" class="nav flex-column">
                                    <li class="nav-item" ng-repeat="item in secondaryItems.items[0]">
                                        <a class="nav-link active" href="#">
                                            <span data-feather="home"></span>
                                            {{ item }} <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>

                <main ng-view role="main" class="col-md-10 ml-sm-auto px-4" style="padding: 0 !important">
                </main>
            </div>
        </div>
    </div>
</body>
</html>