<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Armoury.ro SA:MP RPG Server - User Control Panel</title>
    <script src="UI/Resources/angular.js"></script>
    <script src="UI/Resources/app.js"></script>
    <link href="UI/Resources/bootstrap.min.css" rel="stylesheet" />
    <link href="UI/Stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="UI/Stylesheets/progresscircles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Day');
            data.addColumn('number', '');
            data.addColumn('number', '');
            data.addColumn('number', '');
            
            data.addRows([
                [0, 37.8, 30.8, 41.8],
                [1, 30.9, 29.5, 32.4],
                [2, 25.4, 17, 25.7],
                [3, 11.7, 18.8, 10.5],
                [4, 11.9, 17.6, 10.4],
                [5, 8.8, 13.6, 7.7],
                [6, 7.6, 12.3, 9.6]
            ]);

            var options = {
                legend: 'none',
                backgroundColor: { fill: 'transparent' },
                colors: ['#20539f', '#5daa25', '#38396e', '#5daa25'],
                axes: {
                    x: {
                        0: { side: 'bottom' }
                    }
                }
            };

            var chart = new google.charts.Line(document.getElementById('line_top_x'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
    <div ng-app="armouryPanel" ng-controller="mainController">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12">
                    <div class="col-md-3" style="padding: 0">
                        <div class="row" style="margin: 0">
                            <div class="col-md-2 armoury-menu">
                                <font color="#1f2830"><i class="fas fa-bars fa-lg"></i></font>
                            </div>
                            <a class="col-md-10 armoury-logo" href="http://armoury.ro">
                                <img src="UI/Images/extra-nav/logo-small.png" />
                                <h4>
                                    Armoury<span class="domain">.ro</span>
                                    <span class="slogan">Forge your legacy</span>
                                </h4>
                            </a>
                        </div>
                    </div>
                </nav>
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky" style="height: 100%">
                        <div class="row" style="height: 100%">
                            <nav id="sidebar-mini" class="col-md-3" ng-controller="mainNavController as mainItems" align="center">
                                <br />
                                <img src="UI/Images/avatar.png" style="width:85%; height: auto; margin-left: auto; margin-right: auto;" /><br/><br/>
                                <ul>
                                    <li ng-repeat="item in mainItems.items" style="font-size: 1.33em">
                                        <a href="{{ item.link }}">
                                            <i class="fas fa-{{ item.faItem }}"></i>
                                            <i class="fas fa-{{ item.faItem }}"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div id="sidebar-extra" class="col-md-9">
                                <br />
                                <ul ng-controller="secondaryNavController as secondaryItems" class="nav flex-column">
                                    <li class="nav-item" ng-repeat="item in secondaryItems.items[0]">
                                        <a class="nav-link active" href="#">
                                            <span data-feather="home"></span>
                                            {{ item }} <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>

                <main role="main" ng-controller="playerController" class="col-md-10 ml-sm-auto px-4" style="padding: 0 !important">
                    
                    <div class="col-md-12 profile-header">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Panel</a></li>
                                <li class="breadcrumb-item"><a href="#">Profile</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ playerInfos.Name }}</li>
                            </ol>
                        </nav>
                        <br />
                        <div class="c100 p{{ playerInfos.LevelProgress }} skin{{ playerInfos.Model }} avatar-wrapper" style="-webkit-transform: rotate(-150deg);-moz-transform: rotate(-150deg);-ms-transform: rotate(-150deg);-o-transform: rotate(-150deg);transform: rotate(-150deg);">
                            <div class="avatar-level"><span>{{ playerInfos.Level }}</span></div>
                            <span></span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h3 class="large">
                            <i ng-show="playerInfos.DonateRank > 0" class="fas fa-star premium-user"></i>{{ playerInfos.Name }}
                            <span ng-show="playerInfos.AdminLevel > 0" class="badge badge-secondary armoury-green">{{ adminLevelName }}</span>
                            <span ng-show="playerInfos.Member2 == 7" class="badge badge-secondary armoury-green">Governor</span>
                            <span ng-show="playerInfos.DonateRank > 0" class="badge badge-secondary armoury-yellow">Premium User</span>
                        </h3>
                        <div class="small-details">
                            <span>Member since: {{ playerInfos.LastLoginNice }}</span>&nbsp;&nbsp;&nbsp;<span>Last Login: {{ playerInfos.LastLoginNice }}</span>
                        </div>
                    </div>
                    <div class="profile-underheader">
                        <span class="badge badge-secondary armoury-green"><i class="fas fa-coins"></i>${{ playerInfos.Cash | number:0 }}</span>
                        <span class="badge badge-secondary armoury-green"><i class="fas fa-users"></i>{{ playerInfos.Faction }}</span>
                        <span class="badge badge-secondary armoury-green"><i class="fas fa-percentage"></i>{{ playerInfos.LevelProgress }}% level progress</span>
                    </div>
                    <br /><br />
                    <div class="container-fluid" id="page">
                        <div class="row">
                            <div class="page-secondaryboard col-md-6">
                                <div class="content">
                                    <h4 class="title">General Statistics</h4>
                                    <div class="page-body profile-stats">
                                        <div class="graph-holder wrapper">
                                            <div class="graph-holder connected-hours">
                                                <br /><ol class="legend"><li class="gray">Average number</li><li class="green">Your current hours</li><li class="cyan">Last week's hours</li></ol><br />
                                                <div id="line_top_x" style="width: 114%; margin-left: -4%; max-height: 260px;"></div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="margin: 0;">
                                            <div class="col-md-6" style="padding-left: 0;">
                                                <ul>
                                                    <li>Level<span>{{ playerInfos.Level }}</span></li>
                                                    <li>Respect Points<span>{{ playerInfos.Respect }}</span></li>
                                                    <li>Playing Hours<span>{{ playerInfos.ConnectedTime }}</span></li>
                                                    <li>Age<span>{{ playerInfos.Age }}</span></li>
                                                    <li>Sex<span>{{ playerInfos.SexNice }}</span></li>
                                                    <li>Warnings<span>{{ playerInfos.Warnings }}</span></li>
                                                    <li>Job<span>{{ playerInfos.JobNice }}</span></li>
                                                    <li>Last Login<span>{{ playerInfos.LastLoginNice }}</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6" style="padding-right: 0;">
                                                <ul>
                                                    <li>Faction<span>{{ playerInfos.Faction }}</span></li>
                                                    <li>Faction Rank<span>{{ playerInfos.FactionRank }}</span></li>
                                                    <li>Faction Warnings<span>{{ playerInfos.FactionWarnings }}</span></li>
                                                    <li>Faction Punish<span>{{ playerInfos.FactionPunish }}</span></li>
                                                    <li>Faction Activity<span>{{ playerInfos.FactionActivity }}</span></li>
                                                    <li>Member Since<span>{{ playerInfos.FactionMemberSinceNice }}</span></li>
                                                    <li>Family<span>{{ playerInfos.Faction }}</span></li>
                                                    <li>Family Rank<span>{{ playerInfos.FactionRank }}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-secondaryboard col-md-5" ng-init="profilePropertiesTabSelector='houses'">
                                <div class="content">
                                    <div class="tabbed-content">
                                        <h4 class="title">Properties</h4>
                                        <div class="header-tabs">
                                            <a href="#" ng-click="profilePropertiesTabSelector='houses'" ng-class="{'selected' : profilePropertiesTabSelector == 'houses'}">Houses</a>
                                            <a href="#" ng-click="profilePropertiesTabSelector='vehicles'" ng-class="{'selected' : profilePropertiesTabSelector == 'vehicles'}">Vehicles</a>
                                            <a href="#" ng-click="profilePropertiesTabSelector='businesses'" ng-class="{'selected' : profilePropertiesTabSelector == 'businesses'}">Businesses</a>
                                        </div>
                                    </div>
                                    <div class="page-body">
                                        <div class="profile-info" ng-if="profilePropertiesTabSelector=='houses'">
                                            The account ,,{{ playerInfos.Name }}” owns {{ housesCount }} houses, with a total value of ${{ housesValue | number : fractionSize }}. {{ housesCount > 0 ? playerInfos.Name + "’s first house was bought on the date of " + houseInfos[0].DateOfPurchaseNice + "." : ""}}
                                            <br /><br />
                                            <table>
                                                <tr ng-repeat="house in houseInfos">
                                                    <td><img src="UI/Images/houses/small/{{house.InteriorIndexNice}}_0.jpg" /></td>
                                                    <td style="width: 70%;">
                                                        <span class="top-info"><i class="fas fa-star"></i>Level {{ house.Level }} house</span><br />
                                                        <span class="middle-info">{{ house.NameNice }}</span><br />
                                                        <span class="bottom-info">Purchased on {{ house.DateOfPurchaseNice }}</span>
                                                    </td>
                                                    <td style="width: 30%;">
                                                        <a href="#">More info <i class="fas fa-angle-right"></i></a>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"><td></td></tr>
                                            </table>
                                        </div>
                                        <div class="profile-info" ng-if="profilePropertiesTabSelector=='vehicles'">
                                            The account ,,{{ playerInfos.Name }}” owns {{ vehiclesCount }} vehicles, with a total value of ${{ vehiclesValue | number : fractionSize }}. {{ vehiclesCount > 0 ? playerInfos.Name + "’s first vehicle was bought on the date of " + vehicleInfos[0].DateOfPurchaseNice + "." : ""}}
                                            <br /><br />
                                            <table>
                                                <tr ng-repeat="vehicle in vehicleInfos">
                                                    <td><img src="UI/Images/vehicles/small/{{vehicle.Model}}.png" /></td>
                                                    <td style="width: 70%;">
                                                        <span class="top-info"><i class="fas fa-dollar-sign"></i>{{ vehicle.Value | number : fractionSize }}</span><br />
                                                        <span class="middle-info">{{ vehicle.Name }}</span><br />
                                                        <span class="bottom-info">Purchased on {{ vehicle.DateOfPurchaseNice }}</span>
                                                    </td>
                                                    <td style="width: 30%;">
                                                        <a href="#">More info <i class="fas fa-angle-right"></i></a>
                                                    </td>

                                                </tr>
                                                <tr class="spacer"><td></td></tr>
                                            </table>
                                        </div>
                                        <div class="profile-info" ng-if="profilePropertiesTabSelector=='businesses'">
                                            The account ,,{{ playerInfos.Name }}” owns {{ businessesCount }} businesses, with a total value of ${{ businessesValue | number : fractionSize }}. {{ businessesCount > 0 ? playerInfos.Name + "’s first business was bought on the date of " + businessInfos[0].DateOfPurchaseNice + "." : ""}}
                                            <br /><br />
                                            <table>
                                                <tr ng-repeat="business in businessInfos">
                                                    <td><img src="UI/Images/vehicles/small/{{business.Id}}.png" /></td>
                                                    <td style="width: 70%;">
                                                        <span class="top-info"><i class="fas fa-star"></i>Level {{ business.Level }} business</span><br />
                                                        <span class="middle-info">{{ business.Name }}</span><br />
                                                        <span class="bottom-info">Purchased on {{ business.DateOfPurchaseNice }}</span>
                                                    </td>
                                                    <td style="width: 30%;">
                                                        <a href="#">More info <i class="fas fa-angle-right"></i></a>
                                                    </td>

                                                </tr>
                                                <tr class="spacer"><td></td></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>